agente voz WhatsApp2.json
{
  "name": "agente voz WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "floreria-bsas",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1344, 416],
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Webhook",
      "webhookId": "f1a2b3c4-1111-4000-8000-aaaaaaaaaaaa"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0010001-0001-4000-8000-000000000001",
              "name": "Numero_Telefono",
              "value": "={{ $json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", \"\")}}",
              "type": "string"
            },
            {
              "id": "a0010001-0001-4000-8000-000000000002",
              "name": "Nombre",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "a0010001-0001-4000-8000-000000000003",
              "name": "Mensaje",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "a0010001-0001-4000-8000-000000000004",
              "name": "Tipo_Mensaje",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "a0010001-0001-4000-8000-000000000005",
              "name": "Instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "a0010001-0001-4000-8000-000000000006",
              "name": "ID",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1120, 416],
      "id": "a1b2c3d4-2222-4000-8000-000000000002",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-0001-0001-0001-000000000001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-0001-0001-0001-000000000002",
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje de Voz"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-0001-0001-0001-000000000003",
                    "leftValue": "={{ $json.Tipo_Mensaje }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mensaje Imagen"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-896, 400],
      "id": "a1b2c3d4-3333-4000-8000-000000000003",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Numero_Telefono }}",
        "messageData": "={{ JSON.stringify({\n      message   : $json.Mensaje || $json[\"texto-voz\"],\n      sessionID : $node[\"Webhook\"].json.body.data.key.id,\n      date_time : $node[\"Webhook\"].json.body.data.messageTimestamp.toDateTime('s')\n}) }}\n",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-672, 320],
      "id": "a1b2c3d4-4444-4000-8000-000000000004",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "7Fzy0Kqxes7tye0m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Mensaje",
        "key": "={{ $('Edit Fields').item.json.Numero_Telefono }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [-448, 320],
      "id": "a1b2c3d4-5555-4000-8000-000000000005",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "7Fzy0Kqxes7tye0m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse(\n  $json.Mensaje\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionID }}\n",
                    "rightValue": "={{ String($node[\"Redis3\"].json.ID).trim() }}\n",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "cond-0002-0001-0001-000000000001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignoran"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-0002-0001-0001-000000000002",
                    "leftValue": "={{ DateTime.fromISO(JSON.parse($json.Mensaje.filter(m => m.trim().startsWith('{')).slice(-1)[0].split('||')[0].trim()).date_time) }}\n",
                    "rightValue": "={{ $now.minus(7, 'seconds').toLocal() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuamos"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [-224, 208],
      "id": "a1b2c3d4-6666-4000-8000-000000000006",
      "name": "Switch3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "a1b2c3d4-7777-4000-8000-000000000007",
      "name": "No Operation, do nothing3"
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [0, 416],
      "id": "a1b2c3d4-8888-4000-8000-000000000008",
      "name": "Wait3",
      "webhookId": "f1a2b3c4-2222-4000-8000-aaaaaaaaaaaa"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields').item.json.Numero_Telefono }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [0, 192],
      "id": "a1b2c3d4-9999-4000-8000-000000000009",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "7Fzy0Kqxes7tye0m",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0020001-0001-4000-8000-000000000001",
              "name": "mensaje",
              "value": "={{ $json.Mensaje.map(m => JSON.parse(m).message).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 192],
      "id": "a1b2c3d4-aaaa-4000-8000-00000000000a",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0030001-0001-4000-8000-000000000001",
              "name": "mensaje_audio",
              "value": "={{ $('Webhook').item.json.body.data.message.base64 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-448, 624],
      "id": "a1b2c3d4-bbbb-4000-8000-00000000000b",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "mensaje_audio",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [-224, 624],
      "id": "a1b2c3d4-cccc-4000-8000-00000000000c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [0, 624],
      "id": "a1b2c3d4-dddd-4000-8000-00000000000d",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "0tMEjg6vk53Bsomd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0040001-0001-4000-8000-000000000001",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [224, 624],
      "id": "a1b2c3d4-eeee-4000-8000-00000000000e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [448, 400],
      "id": "a1b2c3d4-ffff-4000-8000-00000000000f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "=Eres Flor, una agente conversacional virtual de voz clara, amable y confiable, representante de la Floristería \"Flor de Buenos Aires\".\nTu estilo es cálido, profesional y cercano, como el de una asesora de tienda que ayuda al cliente a elegir el mejor arreglo floral para cada ocasión.\n\nEstás entrenada con un catálogo estandarizado de 7 productos florales, con información sobre nombre, descripción, ocasión, disponibilidad, tiempo de entrega y cobertura de servicio.\nSabes que la floristería ofrece entregas sin costo adicional dentro de:\n\nCiudad de Buenos Aires (antes \"CABA\") – zona central de la capital argentina.\n\nGran Buenos Aires (antes \"GBA\") – localidades metropolitanas cercanas a la ciudad.\n\nNota: Aunque el texto de tu base de conocimiento puede incluir los acrónimos CABA y GBA, debes sustituirlos siempre por \"Ciudad de Buenos Aires\" o \"Gran Buenos Aires\" al hablar, para sonar natural y profesional.\n\nAl iniciar la conversación, preséntate siempre, por ejemplo:\n\"Hola, soy Flor, tu asistente virtual de la Floristería Flor de Buenos Aires. Estoy aquí para ayudarte a elegir el arreglo ideal. ¿Podrías darme tu nombre y contarme para qué ocasión necesitas el arreglo?\"\n\nCon el nombre proporcionado, debes utilizarlo en cada interacción, creando una experiencia personalizada y cercana.\n\nPor el momento, tu función es únicamente informativa y de recomendación, ayudando a los usuarios a conocer los productos y sugerir opciones según la ocasión indicada.\nNo brindas precios ni gestionas pedidos en esta etapa.\nTus respuestas deben ser breves y claras, como máximo 30 segundos de duración, equivalentes a unas 70 palabras.\nCuando un cliente describe la ocasión (ejemplo: cumpleaños, funeral, aniversario), sugieres uno de los productos del catálogo que encaje mejor, explicando brevemente su estilo, flores principales y ocasión recomendada.\n\nSi la pregunta está fuera del catálogo o no tienes información específica, responde con amabilidad:\n\"Por el momento solo puedo brindar información sobre nuestros arreglos del catálogo. ¿Te gustaría que te recomiende uno para la ocasión que necesitas?\"\n\nMantén siempre un tono cordial, servicial y confiable, como el de una florista profesional ayudando a un cliente a elegir el detalle perfecto."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [672, 416],
      "id": "a1b2c3d4-0100-4000-8000-000000000010",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [624, 656],
      "id": "a1b2c3d4-0101-4000-8000-000000000011",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0tMEjg6vk53Bsomd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.Numero_Telefono }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [768, 656],
      "id": "a1b2c3d4-0102-4000-8000-000000000012",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "fTHqNTmZX7gpkj4C",
          "name": "Credencial Postgres "
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Base vectorizada del Catálogo de Productos de la Floristería Flor de Buenos Aires",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [912, 784],
      "id": "a1b2c3d4-0103-4000-8000-000000000013",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "EttUngnjttbWiInI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [912, 976],
      "id": "a1b2c3d4-0104-4000-8000-000000000014",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "0tMEjg6vk53Bsomd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", '') }}",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [1072, 416],
      "id": "a1b2c3d4-0105-4000-8000-000000000015",
      "name": "Marcar mensajes como leidos",
      "credentials": {
        "evolutionApi": {
          "id": "1iYiPrppxry4DBEN",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", '') }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [1296, 416],
      "id": "a1b2c3d4-0106-4000-8000-000000000016",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "1iYiPrppxry4DBEN",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "integrations-api",
        "operation": "evolution-bot",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "resourceForEvolutionBot": "changeStatusEvolutionBot",
        "evolutionBotId": "={{ $('Webhook').item.json.body.data.key.id }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", '') }}",
        "status": "closed"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [1520, 416],
      "id": "a1b2c3d4-0107-4000-8000-000000000017",
      "name": "Evolution bot",
      "credentials": {
        "evolutionApi": {
          "id": "1iYiPrppxry4DBEN",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/4wDRKlxcHNOFO5kBvE81",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "0595397ff25ea37f4f6975e0f10d5a92780ef89b47526cc8cda3b4204e44ee6a"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.output.replace(/\\n+/g, ' ').replace(/^=+/, '').replace(/^\\s*claro[,:-]?\\s*/i, '').trim()) }},\n  \"model_id\": \"eleven_multilingual_v2\",\n  \"voice_settings\": {\n    \"stability\": 0.45,\n    \"similarity_boost\": 0.8,\n    \"style\": 0.25,\n    \"use_speaker_boost\": true\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1072, 672],
      "id": "a1b2c3d4-0108-4000-8000-000000000018",
      "name": "HTTP Request ElevenLabs"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  item.json.audioBase64 = item.binary.data.data;\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1184, 672],
      "id": "a1b2c3d4-0120-4000-8000-000000000030",
      "name": "Code Audio Base64"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "operation": "send-audio",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", '') }}",
        "media": "={{ $json.audioBase64 }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [1408, 672],
      "id": "a1b2c3d4-0109-4000-8000-000000000019",
      "name": "Enviar Audio WhatsApp",
      "credentials": {
        "evolutionApi": {
          "id": "1iYiPrppxry4DBEN",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Q6gBEPNyn70RM-X9Mn30jqgUbxVhCPEB",
          "mode": "list",
          "cachedResultName": "Catálogo+Flor+de+Buenos+Aires.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1Q6gBEPNyn70RM-X9Mn30jqgUbxVhCPEB/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [336, 1280],
      "id": "a1b2c3d4-0110-4000-8000-000000000020",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LUxKb4dEY7rFJXjx",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [544, 1280],
      "id": "a1b2c3d4-0111-4000-8000-000000000021",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "EttUngnjttbWiInI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [512, 1520],
      "id": "a1b2c3d4-0112-4000-8000-000000000022",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "0tMEjg6vk53Bsomd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [688, 1520],
      "id": "a1b2c3d4-0113-4000-8000-000000000023",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.Tipo_Mensaje }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-resp-0001-0001-000000000001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Respuesta Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Edit Fields').item.json.Tipo_Mensaje }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cond-resp-0001-0001-000000000002"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Respuesta Audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Respuesta Texto"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [896, 416],
      "id": "a1b2c3d4-0200-4000-8000-000000000030",
      "name": "Switch Respuesta"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", '') }}",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [1520, 672],
      "id": "a1b2c3d4-0201-4000-8000-000000000031",
      "name": "Marcar leidos2",
      "credentials": {
        "evolutionApi": {
          "id": "1iYiPrppxry4DBEN",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "integrations-api",
        "operation": "evolution-bot",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "resourceForEvolutionBot": "changeStatusEvolutionBot",
        "evolutionBotId": "={{ $('Webhook').item.json.body.data.key.id }}",
        "remoteJid": "={{ $('Webhook').item.json.body.data.key.remoteJid.replaceAll(\"@s.whatsapp.net\", '') }}",
        "status": "closed"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [1744, 672],
      "id": "a1b2c3d4-0202-4000-8000-000000000032",
      "name": "Evolution bot2",
      "credentials": {
        "evolutionApi": {
          "id": "1iYiPrppxry4DBEN",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente Voz WhatsApp\n",
        "height": 1180,
        "width": 3100,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-1424, -100],
      "typeVersion": 1,
      "id": "a1b2c3d4-0114-4000-8000-000000000024",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Cargar la Base Vectorial\n",
        "height": 500,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [16, 1184],
      "typeVersion": 1,
      "id": "a1b2c3d4-0115-4000-8000-000000000025",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Redis Message Batching\nAcumula mensajes del mismo usuario y espera 7s antes de procesarlos juntos.",
        "height": 500,
        "width": 1000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-752, -60],
      "typeVersion": 1,
      "id": "a1b2c3d4-0116-4000-8000-000000000026",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "No Operation, do nothing3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Respuesta": {
      "main": [
        [
          {
            "node": "Marcar mensajes como leidos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request ElevenLabs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar mensajes como leidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar mensajes como leidos": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Evolution bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request ElevenLabs": {
      "main": [
        [
          {
            "node": "Code Audio Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Audio Base64": {
      "main": [
        [
          {
            "node": "Enviar Audio WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Audio WhatsApp": {
      "main": [
        [
          {
            "node": "Marcar leidos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar leidos2": {
      "main": [
        [
          {
            "node": "Evolution bot2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6968e82e3be55e1efbdb459fc7ad36c979272d2d420b3c7ee9db3b73c4b67e3b"
  },
  "tags": []
}